*{
  padding: 0;
  margin: 0;
  color: whitesmoke;
}

body{
  background: #4D4242;
  background: radial-gradient(circle,rgba(77, 66, 66, 1) 0%, rgba(38, 33, 33, 1) 50%, rgba(13, 12, 12, 1) 100%);
}

.gray-color{
  background-color: #4D4444;    
}   

header{
  width: 100%;
}

nav{
  height: 100px;
  border-bottom: 1px solid #594D4D;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 10px 10px 20px 1px rgb(0, 0, 0);
}

.flex-container-row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.flex-container-column{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  gap: 40px
}

nav a{
  text-decoration: none;
  font-size: 22px;
}

nav a:hover{
  opacity: 0.8;
  text-decoration:underline;
}


nav div{
  margin: 0 30px 0 30px;
}
.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.asap{
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.showcase-game{
  width: 800px;
  height: 400px;
  background-color: #000000;
  box-shadow: 10px 10px 20px 1px black;
  margin-top: 40px;
  background-size:contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.showcase-div{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.login-menu{
  height: max-content;
  width: 350px;
  margin: 80px 0 80px 0;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 1px black;
  border: solid 1px rgb(38, 39, 38);

}

.login-menu a{
  font-size: 15px;
  margin-bottom: 15px;
}

a:hover{
  opacity: 0.7;
}

.login-menu form{
  width: 300px;
}

.login-menu button{
  color: black;
  width: 130px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background-color: #d1cfcf;
  cursor: pointer;
  margin: 15px 0 15px 0;

}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 17px;
}

input + label{
  margin-top: 20px;
}

input + button{
  margin-top: 20px;
}

button{
  cursor: pointer;
}

button:hover{
  opacity: 0.8;
}

input{
  border-radius: 5px;
  border: none
  
}
h2{
  font-weight: 400;
  color: white
}

.login-menu h2{
  margin-top: 20px;
}

.login-menu input{
  height: 20px;
  background-color: #dddddd;
  color: black;
}

.fundo-jogos{
  background-image: url(../assets/games_img/Imagem_de_fundo_projeto.png);
  background-size: cover;
}

.status-fail {
  color: red; 
}

.status-ok {
  color: green;
}

.div-showcase{
  display: flex;
  flex-direction: row;
}

.btn{
  background-image: url(../../public/img/Seta.png);
  width: 30px;
  height: 51px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top:44%;
}

.back-btn{
  transform: scaleX(-1);
  left: 4%;
}

.next-btn{
  right: 4%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  min-height: 100vh;
}

.game-list-horizontal{
  padding-left: 70px;
  width: max-content;
}

.games-horizontal{
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.games{
  border-radius: 10px;
  background-color:#4D5951;
  height: 238px;
  width: 178px;
  background-size: cover;
  cursor: pointer;

}

.price{
  font-size: 12px;
}

a{
  cursor: pointer;
}

.game-promotion{
  margin-top: 20px
}

.description_section{
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 100;
  width: 300px;
  height: max-content;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #cecece;
  align-items: center;
  padding: 20px 15px 10px 15px;
  box-shadow: 10px 10px 20px 1px black; 
}

.description_section > p{
  margin-bottom: 20px;
}
.infos{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categories{
  width: 230px;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.categories > li{
  background-color: #302d2d;
  width: max-content;
  border-radius: 5px;
  list-style: none;
  padding: 5px;
  font-size: 12px;
}

.categories > li:hover{
  cursor:default;
  opacity: 0.8;
}


.price-div{
  font-family: "Motiva Sans", Sans-serif;
  width: 740px;
  height: 90px;
  margin-top: 60px;
  margin-right: 370px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
}

.price-div button{
  font-family: "Motiva Sans", Sans-serif;
  border: none ;
  background-color: #302d2d;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.price-div button:hover{
  cursor: pointer;
}

.user_buttons button{
  font-family: "Motiva Sans", Sans-serif;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 2px;
}

.user_buttons button:hover{
  cursor: pointer;
}

.user_buttons{
  margin-top: 10px;
  margin-left: 100px;
  gap: 20px;
}

.friend-div{
  background-color: rgb(37, 37, 37);
  width: 320px; 
  height: max-content;
  border-radius: 6px;  
  padding: 15px 0 40px 0; 
  margin: 0px;
  z-index: 4;
  opacity: 1.0;
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 38%;

}

.friend-title button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  left: 50px;
}
.friend-title{
  width: 100%;
  border-bottom: rgb(85, 80, 80) 2px solid;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.friends{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
.friends button, .friends p{
  width: 280px;
  border: 1px solid rgb(46, 43, 43);
  text-decoration: none;
  background-color: rgb(32, 31, 31);
  padding: 5px 0 5px 0;
}


.options-friend{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgb(85, 80, 80);

}

.options-friend button{
  border: none;
  border-radius: 3px;
  padding: 2px;
  cursor: pointer;
}
.add-friend{
  background-color: rgb(75, 99, 83);
}

.delet-friend{
  background-color: rgb(99, 75, 75);
}

.background-friend{
  width: 100%;
  height: 100vw;
  z-index: 3;
  position:fixed;
  display: flex;
  top: 0

}

.dark-translucid-background{
  width: 100%;
  height: 100vw;
  z-index: 3;
  position:fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
  background-color: rgb(51, 51, 51);
}

.search-friend{
  gap: 8px !important;
  border-bottom: 1px solid rgb(85, 80, 80);
  padding: 10px 0 10px 0;
  width: 100%;
  position:relative;
}

.search-friend form{
  width: 80%;
  align-items: center;
}
.search-friend button{
  border: none;
  padding: 4px;
  border-radius: 5px;
}

.gap_game{
  gap:10px
}
footer{
  margin-top: 100px;
  box-sizing: border-box;
  bottom: 0;
  padding: 20px 20px 10px 20px;
  background-color: rgb(32, 31, 31);
  width: 100%;
  border-top: 1px solid rgb(107, 104, 104)

}

.categories-container{
  align-items: start;
}
