<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/style.css">
    <title>Cadastro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="fundo-jogos">
    <main class="flex-container-column roboto">
        <header class="flex-container-column">
            <nav class=" gray-color">
                <div class="flex-container-row roboto">
                    <a href="index.html">LOGO</a>
                    <a href="#">Loja</a>
                    <a href="#">Suporte</a>
                    <a href="">Conversa</a>
                </div>
                <div class="flex-container-row">
                    <a href="login_page.html"><img src="../assets/img/Img_Perfil.png" alt="Img-Login" style="height: 50px;"></a>
                </div>
            </nav>
        </header>
        <section class="login-menu gray-color flex-container-column">
            <h2 style="margin-bottom: 20px;">Faça o Login</h2>
            <form action="" class="asap">

                <label for="">Escreva seu nome completo:</label>
                <input type="text" name="nome" id="name">

                <label for="">Selecione a data do seu nascimento:</label>
                <input type="date" name="birthday" id="birthday">

                <label for="">Escreva um nome para seu usuário:</label>
                <input type="text" name="user" id="user">

                <label for="">Escreva seu email:</label>
                <input type="email" name="email" id="email">

                <label for="">Digite uma senha:</label>
                <input type="password" name="password" id="password">

                <label for="">Confirme sua senha:</label>
                <input type="password" name="confirm_password" id="confirm_password">

                <div class="flex-container-row">
                    <button type="submit">Enviar</button>
                </div>

            </form>
        </section>
    </main>
</body>
</html>