<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <main class="flex-container-column roboto">
        <header class="flex-container-column">
            <nav class="gray-color">
                <div class="flex-container-row roboto">
                    <a href="index.html">LOGO</a>
                    <a href="#">Loja</a>
                    <a href="#">Suporte</a>
                    <a href="">Conversa</a>
                </div>
                <div class="flex-container-row">
                    <a href="login_page.html"><img src="../assets/img/Img_Perfil.png" alt="Img-Login" style="height: 50px;"></a>
                </div>
            </nav>
            <section class="showcase-game">
                <div class="showcase-div" id="slider">
                    <img src="../assets/img/Undertale_banner.png" alt="Undertale Banner">
                    <img src="../assets/img/Hollow_Knight_Banner.png" alt="Hollow Knight Banner">  
                    <img src="../assets/img/The_Last_Of_Us_Banner.png" alt="The Last Of Us Banner">
                </div>
  
            </section>
        </header>

        <section>
            <h2>Se divirta com</h2>
        </section>
    </main>
    <script src="../assets/js/script.js"></script>
</body>
</html>