<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/style.css">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="fundo-jogos">
    <main class="flex-container-column roboto">
        <header class="flex-container-column">
            <nav class=" gray-color">
                <div class="flex-container-row roboto">
                    <a href="index.html">LOGO</a>
                    <a href="#">Loja</a>
                    <a href="#">Suporte</a>
                    <a href="">Conversa</a>
                </div>
                <div class="flex-container-row">
                    <a href="login._page.html"><img src="../assets/img/Img_Perfil.png" alt="Img-Login" style="height: 50px;"></a>
                </div>
            </nav>
        </header>
        <section class="login-menu gray-color flex-container-column">
            <h2 style="margin-bottom: 20px;">Faça o Login</h2>
            <form action="" class="asap">
                <label for="">Usuário</label>
                <input type="text" name="" id="">
                <label for="">Senha</label>
                <input type="password" name="" id="">
                <div class="flex-container-row">
                <button type="submit">Enviar</button>
                </div>
            </form>
            <a href="cadastro_page.html">Crie uma Conta</a>
        </section>
    </main>
</body>
</html>